{% extends 'base.html' %}
{% load static %}
{% block title %} | cart{% endblock title %}
{% block content %}

<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">Cart</h2>
    <hr>
{% if not request.user.is_authenticated or request.user.is_anonymous %}
    <h4 class="alet alert-warning">
        You Must be 
        <a href="{% url 'signin' %}" class="text-dark">Logged in</a>
    </h4>
{% elif order %}
<h4>
    Full Name : {{order.user.first_name|add:' '|add:order.user.last_name}}
    <a href="{% url 'products' %}" class="btn btn-outline-warning float-right m-1">Countinue Shopping</a>
    <a href="{% url 'payment' %}" class="btn btn-outline-secondary float-right m-1">Checkout</a>
    <hr>
    Order number: <span class="my-num">{{order.id}} </span>  
    with total :   <span class="my-num">{{total}}$  </span>  
    for <span class="my-num"> {{orderdetails.count}}</span> products
</h4>
<hr>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">SubTotals</th>
        <th scope="col">Control</th>
      </tr>
    </thead>
    <tbody>
    {% for line in orderdetails %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{line.product.name}}</td>
        <td><img src="{{line.product.photo.url}}" style="width:80px;height80px;" alt=""></td>
        <td>
            <a href="{% url 'sub_qty' orderdetails_id=line.id %}" class="btn btn-outline-warning btn-sum">-</a>
            {{line.quantity}}
            <a href="{% url 'add_qty' orderdetails_id=line.id %}" class="btn btn-outline-warning btn-sum">+</a>
        </td>
        <td>{{line.price}}$</td>
        <td style="font-weight: bold;color:darkred">{% widthratio line.quantity 1 line.price %}$</td>
        <td>
            <a href="{% url 'remove_from_cart' orderdetails_id=line.id %}" class="btn btn-outline-danger btn-sm">Remove</a>
        </td>
      </tr>
    {% empty %}  
    <h5 class='alert alert-warning'>
        No Details Here
    </h5>
    {% endfor %}
    </tbody>
  </table>

{% else %}
<h5 class="alert alert-warning">
    No Orders Here
</h5>
{% endif %}
<hr>
</div>
{% endblock content %}