{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="my-form container p-5 my-5 rounded border border-warning">
    <h2 class="text-center">Checkout</h2>
    <hr>
    {% include 'parts/alert.html' %}

{% if not request.user.is_authenticated or request.user.is_anonymous %}
<h5 class="alert alert-warning">
    You Must be
    <a href="{% url 'signin' %}" class="text-dark">Logged in</a>
</h5>
{% elif not order %}
    <h4 class="alert alert-warning">
        No Orders To Payment
    </h4>     
{% else %}

{% if is_added == True %}
<form method="POST" style="display: none;">
{% else %}
<form method="POST">
{% endif %}

    {% csrf_token %}
    {% csrf_token %}

    Order number : <span class="number">{{order.id}} </span>
    <hr>
    Product Count: <span class="number">{{orderdetails.count}} </span>
    <hr>
    Total Ammount: <span class="number">{{total}}$  </span>
    <hr>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputship_address">Shipment address</label>
            <input type="text" class="form-control" name="ship_address" id="inputship_address" required value="{{ship_address}}">
        </div>
        <div class="form-group col-md-6">
            <label for="inputship_phone">Shipment Phone</label>
            <input type="text" class="form-control" name="ship_phone" id="inputship_phone" required value="{{ship_phone}}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputcard_number">Card Number</label>
            <input type="text" class="form-control" name="card_number" id="inputcard_number" required value="{{card_number}}" placeholder="1111 2222 3333 4444">
        </div>
        <div class="form-group col-md-4">
            <label for="inputexpire">Expire</label>
            <input type="text" class="form-control" name="expire" id="inputexpire" required value="{{expire}}" placeholder="mm/YY">
        </div>
        <div class="form-group col-md-2">
            <label for="inputsecurity_code">Security Code</label>
            <input type="text" class="form-control" name="security_code" id="inputsecurity_code" placeholder="333" required value="{{security_code}}">
        </div>
    </div>
    <button type="submit" name="btnpayment" class="btn btn-warning">Payment</button>
</form>

{% endif %}   

</div>

{% endblock %}
